__pycache__/
.idea/
.ipynb_checkpoints

data/

# Dataset files.
datasets/7scenes_*
datasets/12scenes_*
datasets/Cambridge_*
datasets/wayspots_*
datasets/pgt_*
datasets/visloc_pseudo_gt_limitations

# dsacstar build files
dsacstar/build
dsacstar/dsacstar.egg-info
dsacstar/dist

# Outputs.
output/
runs/
models/
*.torchscript
